{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<head>
    <title>Crear usuario</title>
</head>
        <body>
<div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Listado de votantes</h4>

    <a href="{{ url_for('registrar') }}" class="btn btn-success">
        + Nuevo votante
    </a>
</div>
<div class="card shadow-sm mb-3">
    
    <div class="card-body">
        <div class="row g-2">
            <div class="col-md-4">
                <input id="cedula" class="form-control" placeholder="Buscar por cédula">
            </div>
            <div class="col-md-4">
                <input id="nombre" class="form-control" placeholder="Buscar por nombre">
            </div>
            <div class="col-md-4">
                <select id="punto" class="form-control">
                    <option value="">-- Punto de votación --</option>
                    {% for p in puntos %}
                        <option value="{{ p.id }}">{{ p.nombre }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div id="resultado">
    {% include 'tabla_votantes.html' %}
</div>
<a href="{{ url_for('exportar_excel') }}" class="btn btn-success btn-sm">
    Exportar a Excel
</a>
    </body>
</html>
<script>
function buscar() {

    const cedula = document.getElementById('cedula').value
    const nombre = document.getElementById('nombre').value
    const punto = document.getElementById('punto').value

    fetch(`/buscar_votantes?cedula=${cedula}&nombre=${nombre}&punto=${punto}`)
        .then(res => res.text())
        .then(html => {
            document.getElementById('resultado').innerHTML = html
        })
}

document.querySelectorAll('#cedula, #nombre, #punto').forEach(input => {
    input.addEventListener('keyup', buscar)
})
document.getElementById('cedula').addEventListener('keyup', buscar)
document.getElementById('punto').addEventListener('change', buscar)

// Select → change
document.getElementById('nombre').addEventListener('keyup', buscar)
</script>
{%endblock%}