{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-6 col-lg-5">

        <div class="card shadow-sm">
            <div class="card-body p-4">

                <h4 class="text-center mb-4">📝 Registro de votantes</h4>

                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-warning text-center">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <form method="POST">

                    <input name="nombre" class="form-control mb-2" placeholder="Nombre completo" required>
                    <input id="cedula" name="cedula" class="form-control mb-2" placeholder="Cédula" required>
                    <small id="mensajeCedula"></small>
                    <input type="number" name="edad" class="form-control mb-2" placeholder="Edad" required>
                    <input type="number" name="telefono" class="form-control mb-2" placeholder="Télefono" required>
                    <input name="ocupacion" class="form-control mb-2" placeholder="Ocupación" required>
                    <select name="punto" class="form-control mb-2" required>
        <option value="">Seleccione punto de votación</option>
        {% for punto in puntos %}
            <option value="{{ punto.id }}">{{ punto.nombre }}</option>
        {% endfor %}
    </select>
                    <select name="mesa" class="form-control mb-2" required>
                    <option value="">Seleccione mesa</option>
                    {% for i in range(1, 31) %}
                     <option value="{{ i }}">Mesa {{ i }}</option>
                    {% endfor %}
                    </select>
                    <select name="lider" id="lider" class="form-control mb-2" required>
        <option value="">¿Es contratista?</option>
        <option value="SI">SI</option>
        <option value="NO">NO</option>
    </select>
                    <input name="lider_r" id="lider_r" class="form-control mb-3" placeholder="Líder de referencia" disabled>

                    <div class="d-flex gap-2">
                        <button class="btn btn-success w-100">
                            Guardar votante
                        </button>

                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
<script>
const cedulaInput = document.getElementById('cedula')
const mensaje = document.getElementById('mensajeCedula')

cedulaInput.addEventListener('keyup', () => {
    const cedula = cedulaInput.value.trim()

    if (cedula.length < 5) {
        mensaje.textContent = ''
        return
    }

    fetch(`/validar_cedula?cedula=${cedula}`)
        .then(res => res.json())
        .then(data => {
            if (data.existe) {
                mensaje.textContent = '⚠️ Esta cédula ya está registrada'
                mensaje.style.color = 'red'
            } else {
                mensaje.textContent = '✅ Cédula disponible'
                mensaje.style.color = 'green'
            }
        })
}) 
document.getElementById("lider").
addEventListener("change",
function (){
    let campo = 
    document.getElementById("lider_r");
        if(this.value==="NO"){
            campo.disabled =false;
        }else{
            campo.disabled=true;
            campo.value=" ";
        }
        });
</script>
{% endblock %}

